In [1]:
import pandas as pd

# String Manipulation

In [13]:
data=pd.read_table('http://bit.ly/chiporders')

In [14]:
data.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [19]:
data[data['item_name'].str.upper().str.contains('CHICKEN BOWL')].head(1)

,order_id,quantity,item_name,choice_description,item_price
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

# Change data type

In [20]:
data.dtypes

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

In [21]:
data['order_id']=data['order_id'].astype(float)

In [22]:
data.dtypes

order_id              float64
quantity                int64
item_name              object
choice_description     object
item_price             object
dtype: object