# Exercise: __`pandas`__
* We're going to grab some data from the Internet and do a bit of analysis of it
* Start by importing the necessary modules

In [84]:
import pandas as pd

## In addition to reading local files, __`read_csv`__ can import files from a URL, such as this [one](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv)
* This is data from a Chipotle restaurant, representing sales for a small period
* (Note: this is a tab-separated file as opposed to comma-separated)

In [85]:
data=pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv',sep='\t')

## Examine the dataset

In [86]:
data.head(2)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39

In [87]:
data.dtypes

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

## How many observations are in the dataset?

In [88]:
data.shape[0]

4622

## How many columns?

In [89]:
data.shape[1]

5

## What are the names of the columns?

In [90]:
data.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

## How many Items were ordered in total?

In [91]:
data['quantity'].sum()

4972

## Slightly More Advanced Exercises
* these will likely require reading the documentation (or at least the hints) if this is your first exposure to __`pandas`__

## What's the total revenue for the period in the dataset?
* Hints:
  * __`item_price`__ is not a float
  * check out the __`apply()`__ method

In [92]:
data['item_price']=data['item_price'].apply(lambda x: float(x[1:]))
revenue = (data['quantity']*data['item_price']).sum()
print(revenue)

39237.02

In [93]:
data.dtypes

order_id                int64
quantity                int64
item_name              object
choice_description     object
item_price            float64
dtype: object

## How many orders are in the Dataset?
* Hint: check out __`value_counts()`__ method

In [95]:
data['order_id'].value_counts().count()

1834

## How many different items were sold?
* Hint: similar to above

50