In [1]:
import pandas as pd
import numpy as np
data_dir='./data/'

#Read app cpu data
file_name='agg_application_pod_hourly.csv'
df=pd.read_csv(data_dir+file_name, header=None, na_values=[r'\N'])
df.columns = ['hour_key', 'date_key','datacenter','superpod','pod','mem_utilization','max_app_cpu','avg_app_cpu','gc_perc','p95_app_cpu','last_modified','app_host_count_active','app_transacting_host_count']
df.head()
#The columns you want here are hour_key, date_key, datacenter, superpod, pod and avg_app_cpu

,hour_key,date_key,datacenter,superpod,pod,mem_utilization,max_app_cpu,avg_app_cpu,gc_perc,p95_app_cpu,last_modified,app_host_count_active,app_transacting_host_count
0,7,20170121,LON,SP9,cs86,37.980300,7.938677,5.929535,0.799236,NaN,2017-02-27 20:38:10.59641,NaN,NaN
1,7,20170121,WAS,SP2,na4,69.257324,14.353811,11.269566,0.910468,NaN,2017-02-27 20:38:10.59641,NaN,NaN
2,7,20170121,CHI,SP1,gs0,33.341110,17.466251,10.286361,1.259740,NaN,2017-02-27 20:38:10.59641,NaN,NaN
3,7,20170121,CHI,SP3,cs23,62.849570,13.417571,9.052662,0.980685,NaN,2017-02-27 20:38:10.59641,NaN,NaN
4,7,20170121,LON,SP9,cs87,34.985798,7.711010,5.902223,0.510657,NaN,2017-02-27 20:38:10.59641,NaN,NaN

In [2]:
#Read db size data
file_name='agg_database_daily.csv'
df=pd.read_csv(data_dir+file_name, header=None, na_values=[r'\N'])
df.columns = ['date_key','datacenter','superpod','pod','max_redo_size','max_active_sessions','max_db_cpu_user','max_peak_buffer','avg_db_cpu_\
system','avg_db_cpu_user','total_db_size_in_tb','used_db_space_in_tb','free_db_space_in_tb','asm_free_db_space_in_tb','asm_used_db_space_in_t\
b','asm_total_db_size_in_tb','last_modified','asm_used_db_space_perc','oem_cpu_util','oem_read_io_latency']
df.head()
#The columns you want here are date_key, datacenter, superpod, pod and asm_used_db_space_in_tb

,date_key,datacenter,superpod,pod,max_redo_size,max_active_sessions,max_db_cpu_user,max_peak_buffer,avg_db_cpu_system,avg_db_cpu_user,total_db_size_in_tb,used_db_space_in_tb,free_db_space_in_tb,asm_free_db_space_in_tb,asm_used_db_space_in_tb,asm_total_db_size_in_tb,last_modified,asm_used_db_space_perc,oem_cpu_util,oem_read_io_latency
0,20161031,WAS,SP3,na17,12.881275,87.00000,47.800000,1329935.50,2.383255,24.301150,59.996094,46.064330,13.931762,8.102020,51.894073,59.996094,2017-02-27 20:43:53.642455,NaN,NaN,NaN
1,20161025,CHI,SP2,cs15,65.872505,69.13125,30.184166,1189676.40,1.605119,14.272053,NaN,NaN,NaN,NaN,NaN,NaN,2017-02-27 20:43:53.642455,NaN,NaN,NaN
2,20161031,CHI,SP4,cs40,30.010305,86.00000,22.050000,863386.70,1.165605,9.444780,106.871520,87.290870,19.580648,15.005844,91.865680,106.871520,2017-02-27 20:43:53.642455,NaN,NaN,NaN
3,20161031,WAS,SP3,na23,6.484551,72.00000,35.066666,1139595.20,1.797749,13.583612,59.996094,32.447983,27.548110,20.739609,39.256485,59.996094,2017-02-27 20:43:53.642455,NaN,NaN,NaN
4,20161031,PHX,SP1,na45,4.759383,50.00000,17.758333,744373.94,1.134943,9.120685,67.498900,26.249228,41.249672,30.199581,37.299320,67.498900,2017-02-27 20:43:53.642455,NaN,NaN,NaN

In [3]:
#Read apt and transactions
file_name='agg_business_pod_hourly.csv'
df=pd.read_csv(data_dir+file_name, header=None, na_values=[r'\N'])
df.columns = ['hour_key','date_key','datacenter','superpod','pod','avg_apt','total_transactions','users_per_hour','last_modified','release_count']
df.head()
#The columns you want here are hour_key, date_key, datacenter, superpod, pod, avg_apt and total_transactions

,hour_key,date_key,datacenter,superpod,pod,avg_apt,total_transactions,users_per_hour,last_modified,release_count
0,20,20161218,CHI,SP2,cs16,52.61738,103415.0,4292.0,2017-02-27 20:40:05.88036,NaN
1,20,20161218,PAR,SP1,eu11,74.70248,343981.0,6983.0,2017-02-27 20:40:05.88036,NaN
2,20,20161218,WAS,SP4,na26,173.57855,1287803.0,12146.0,2017-02-27 20:40:05.88036,NaN
3,20,20161218,FRF,SP1,cs85,68.02730,188716.0,1360.0,2017-02-27 20:40:05.88036,NaN
4,20,20161218,WAS,SP4,na31,91.55647,1343143.0,31207.0,2017-02-27 20:40:05.88036,NaN