# Exercise: Summary Statistics of TTL Data

## Use __`pandas`__ to read in the file named __`agg_application_pod_hourly.csv`__
* remember to title the columns appropriately
* compute the summary statistics for the various columns

In [2]:
import pandas as pd

In [4]:
data = pd.read_csv('/Users/mukesh.dua/Documents/Machine Learning/data/agg_application_pod_hourly.csv', header=None, na_values=[r'\N'])

In [5]:
data.columns = 'hour_key, date_key, datacenter, superpod, pod, mem_utilization, max_app_cpu, avg_app_cpu, gc_perc, p95_app_cpu, last_modified, app_host_count_active, app_transacting_host_count'.split(', ')

In [6]:
data.head()

,hour_key,date_key,datacenter,superpod,pod,mem_utilization,max_app_cpu,avg_app_cpu,gc_perc,p95_app_cpu,last_modified,app_host_count_active,app_transacting_host_count
0,7,20170121,LON,SP9,cs86,37.980300,7.938677,5.929535,0.799236,NaN,2017-02-27 20:38:10.59641,NaN,NaN
1,7,20170121,WAS,SP2,na4,69.257324,14.353811,11.269566,0.910468,NaN,2017-02-27 20:38:10.59641,NaN,NaN
2,7,20170121,CHI,SP1,gs0,33.341110,17.466251,10.286361,1.259740,NaN,2017-02-27 20:38:10.59641,NaN,NaN
3,7,20170121,CHI,SP3,cs23,62.849570,13.417571,9.052662,0.980685,NaN,2017-02-27 20:38:10.59641,NaN,NaN
4,7,20170121,LON,SP9,cs87,34.985798,7.711010,5.902223,0.510657,NaN,2017-02-27 20:38:10.59641,NaN,NaN

In [7]:
data.describe()

,hour_key,date_key,mem_utilization,max_app_cpu,avg_app_cpu,gc_perc,p95_app_cpu,app_host_count_active,app_transacting_host_count
count,1.265916e+06,1.265916e+06,1.115939e+06,1.116360e+06,1.254802e+06,1.118541e+06,932047.000000,530139.000000,48360.000000
mean,1.149787e+01,2.016889e+07,4.155416e+01,1.180563e+01,8.849813e+00,1.368583e+00,14.213082,20.867993,21.425434
std,6.917145e+00,3.689567e+03,1.176311e+01,7.355096e+00,6.177332e+00,1.627901e+00,8.332162,13.710650,13.906723
min,0.000000e+00,2.016093e+07,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,5.000000,4.000000
25%,6.000000e+00,2.017020e+07,3.607496e+01,6.570135e+00,4.591995e+00,5.393953e-01,8.146478,10.000000,10.000000
50%,1.100000e+01,2.017052e+07,3.786449e+01,9.981898e+00,7.225207e+00,9.878268e-01,12.268508,10.000000,10.000000
75%,1.700000e+01,2.017082e+07,4.009692e+01,1.497794e+01,1.108370e+01,1.718055e+00,18.180967,30.000000,39.000000
max,2.300000e+01,2.017111e+07,1.000000e+02,8.185169e+01,5.551501e+01,8.836020e+01,88.467560,50.000000,50.000000

## What is the maximum value for the __`app_host_count_active`__ column?

In [8]:
data['app_host_count_active'].max() # also shown above

50.0

## How many times did that maximum value occur in the dataset?

In [10]:
data[data['app_host_count_active'] == 50.0].count()

hour_key                      14731
date_key                      14731
datacenter                    14731
superpod                      14731
pod                           14731
mem_utilization               14728
max_app_cpu                   14731
avg_app_cpu                   14731
gc_perc                       14646
p95_app_cpu                   14731
last_modified                 14731
app_host_count_active         14731
app_transacting_host_count     1242
dtype: int64