# Exercise: Linear Regression
* read in dataset from __`data/skincancer.csv`__
* the dataset contains skin cancer mortality rates from 48 states and Washington D.C.
* the __`Lat`__ column is the latitude at the center of the state
* the __`Mort`__ column is mortality in deaths per 10 million

In [1]:
import pandas as pd

# Examine the data

In [3]:
data = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv',sep='\t')

        State   Lat  Mort  Ocean   Long
0     Alabama  33.0   219      1   87.0
1     Arizona  34.5   160      0  112.0
2    Arkansas  35.0   170      0   92.5
3  California  37.5   182      1  119.5
4    Colorado  39.0   149      0  105.5

# Visualize the data by creating a scatterplot of latitude vs. mortality

# Using the demo as starting point, create a linear regression of latitude vs. mortality
* note that you will need to pull the data out of the dataframeâ€“which attribute of a dataframe lets me isolate the data?

# What are the values of the coefficient and intercept?

# Can you explain the relationship?